.button-component {
  border: none;
  background-color: #457b9d;
  color: #fff;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.button-large {
  padding: 0.7em 1.3em;
  border-radius: 7px;
  font-size: 1.1em;
}

.button-component:hover {
  background-color: #5092bb;
}
