.button-component {
  border: none;
  background-color: #457b9d;
  color: #fff;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.button-large {
  padding: 0.7em 1.3em;
  border-radius: 7px;
  font-size: 1.1em;
}

.button-medium {
  padding: 0.65em 1em;
  border-radius: 7px;
  font-size: 1em;
}

.button-component:hover {
  background-color: #5092bb;
}

.delete-review {
  margin-left: 0.8em;
}
