img {
  width: 70px;
}

.card {
  width: 22%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: none;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card:hover .title {
  text-decoration: underline;
}

.title {
  font-size: 2.2em;
  font-weight: bold;
}

.text {
  font-size: 1.2em;
  text-align: center;
}
