.checkout-form {
  height: 500px;
  background-color: #fff;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.billing-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.form-line {
  width: 100%;
}

.buyer-info-input {
  display: inline-block;
  margin-right: 1rem;
}

.address-first-input {
  display: inline-block;
  margin-right: 1.8rem;
  margin-top: 1.2rem;
}

.buyer-info-input input {
  width: 180px;
  height: 50px;
  font-size: 1rem;
  padding-left: 10px;
  border-radius: 5px;
}

.address-first-input input {
  width: 195px;
  height: 50px;
  font-size: 1.1rem;
  padding-left: 10px;
  border-radius: 5px;
}

.address-line input {
  width: 295px;
}

.address-second-input {
  display: inline-block;
  margin-top: 1.2em;
  margin-right: 1.45em;
}

.us-state-select {
  width: 140px;
  line-height: 40px;
}

.country-select {
  width: 250px;
  line-height: 40px;
}

.zip {
  width: 120px;
  line-height: 50px;
  padding-left: 10px;
  border-radius: 5px;
}

.card-element-wrapper {
  width: 80%;
  height: 48px;
  display: flex;
  align-items: center;
}

.card-element {
  width: 68%;
}

.book-button {
  border: none;
  background-color: #457b9d;
  color: #fff;
  cursor: pointer;
  padding: 0.7rem 1.3rem;
  border-radius: 10px;
  font-size: 1.1em;
}

.submit-error {
  color: rgb(204, 49, 49);
  font-size: 1.03em;
  font-weight: 600;
}

@media (max-width: 1000px) {
  .checkout-form {
    height: auto;
    width: 80%;
    padding: 2rem 0;
  }

  .form-line {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
