.description-card {
  width: 100%;
  display: flex;
  padding-left: 3em;
}

.description-card-image {
  width: 55%;
  margin-right: 4.2em;
  max-height: 491px;
  overflow: hidden;
}

.description-card-image img {
  width: 100%;
}

.description-card-text-container {
  display: flex;
  flex-direction: column;
  width: 28%;
}

.description-card h2 {
  font-size: 2.7em;
  /* margin-top: 0.3em; */
  margin-bottom: 0.5em;
  font-weight: bold;
}

.description-card p {
  font-size: 1.12em;
  line-height: 1.5;
  width: 90%;
}

.desc-button-container {
  margin-top: 1.5em;
}

.desc-button-container button {
  border: none;
  background-color: #457b9d;
  color: #fff;
  cursor: pointer;
  padding: 0.7em 1.3em;
  border-radius: 3px;
  font-size: 1.1em;
}
