.description-card {
  width: 100%;
  display: flex;
  padding-left: 3rem;
}

.description-card-image {
  width: 55%;
  margin-right: 4.2rem;
  max-height: 491px;
  overflow: hidden;
}

.description-card-image img {
  width: 100%;
}

.description-card-text-container {
  display: flex;
  flex-direction: column;
  width: 28%;
}

.description-card h2 {
  font-size: 2.7rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.description-card p {
  font-size: 1.12rem;
  line-height: 1.5;
  width: 90%;
}

.desc-button-container {
  margin-top: 1.5rem;
}
