.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6em;
  margin-top: 4em;
}
.destination-question {
  margin-top: 5em;
}

.destination-card-container {
  width: 92%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1em;
  row-gap: 1em;
  margin: 7em 0;
}
