.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6em;
  margin-top: 4em;
}

/* .top-row {
  width: 44%;
  display: flex;
  justify-content: space-between;
  margin-top: 2.2em;
} */

.destination-question {
  margin-top: 5em;
}

.destination-card-container {
  width: 92%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1em;
  row-gap: 1em;
  margin-top: 3em;
}
