.destination-card {
  height: 200px;
  width: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 800;
  font-size: 1.6rem;
  background-size: cover;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.medium-card {
  height: 280px;
  width: 370px;
  font-size: 2rem;
}

.large-card {
  height: 380px;
  width: 530px;
  font-size: 2.3rem;
}

@media (max-width: 1000px) {
  .destination-card {
    width: 350px;
    height: 220px;
  }
}
