.destination-card {
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 800;
  font-size: 1.6em;
  background-size: cover;
  text-align: center;
}

.medium-card {
  height: 280px;
  width: 400px;
  font-size: 2em;
}

.large-card {
  height: 380px;
  width: 530px;
  font-size: 2.3em;
}
