.destinations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8em;
}

.destination-list-header {
  margin-bottom: 1.2em;
  font-size: 2.1em;
  font-weight: 800;
}

.region-description {
  width: 94%;
  margin-top: 5em;
  margin-bottom: 6em;
}

.destination-at-glance {
  width: 94%;
  display: flex;
  margin: 6em 0;
}

.region-description-text {
  width: 46%;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3em;
}

.region-description-text p {
  margin: 1.2em 0;
  width: 90%;
  font-size: 1.05em;
  line-height: 1.5em;
}

.region-description-text h2 {
  width: 90%;
  font-size: 2.2em;
  font-weight: bold;
}

.region-map {
  height: 450px;
  width: 52%;
}

.single-card,
.three-cards {
  display: flex;
  justify-content: center;
}

.four-cards {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2em;
  row-gap: 2em;
}
