.destination-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.single-card,
.three-cards {
  display: flex;
  justify-content: center;
}

.six-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.activity-container {
  width: 94%;
  margin: 5rem 0;
}
