.destination-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.things-to-do {
  width: 100%;
  display: flex;
}

.things-to-do-image {
  width: 50%;
}

.things-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}

.things-to-do ul {
  margin-top: 1.5em;
}

.things-to-do li {
  list-style-type: none;
  margin-bottom: 1.2em;
  width: 80%;
}
/* 
.destination-card-container {
  margin: 3em 0;
  display: flex;
} */
