.favorites-card {
  width: 29%;
}

.favorite-image-wrapper {
  height: 450px;
  overflow: hidden;
}

.favorites-card img {
  width: 100%;
}

.favorites-text-container {
  width: 100%;
  height: 180px;
  display: flex;
  background-color: rgb(91, 91, 253);
  color: #fff;
}

.favorites-title,
.favorites-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.favorites-title {
  font-size: 2em;
}

.title-top {
  font-weight: bold;
}
