.location-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-map-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.location-map {
  width: 60%;
}
