.login-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

.login-form {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 44%;
  height: 430px;
}

.signup-form {
  height: 500px;
  padding: 1rem 0;
}

.login-header {
  width: 70%;
  margin-bottom: 1rem;
}

.login-labels {
  width: 70%;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.login-form input,
.signup-form input {
  width: 70%;
  height: 2.9rem;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
}

#password-input {
  margin-bottom: 0.5rem;
}

.login-button-container {
  width: 70%;
  display: flex;
  align-items: center;
}

.login-error {
  margin-left: 1.2rem;
  font-size: 1.03rem;
  font-weight: 600;
  color: rgb(204, 49, 49);
}

.login-form button,
.signup-form button {
  height: 44px;
  width: 28%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: #457b9d;
  color: #fff;
}

.login-form button:focus,
.signup-form button:focus {
  outline: none;
}

.login-form button:hover,
.signup-form button:hover {
  background-color: #5092bb;
}

.link-signup {
  width: 68%;
  margin-top: 1.1rem;
}

.link-signup a {
  color: #000;
}

.link-signup span {
  cursor: pointer;
}

.link-signup span:hover {
  text-decoration: underline;
  color: #000;
}

.pass-length {
  width: 70%;
  margin-bottom: 1.5rem;
}

@media (max-width: 1000px) {
  .login-form {
    width: 80%;
  }
}

@media (max-width: 420px) {
  .login-form {
    width: 100%;
  }
}
