a {
  color: #fff;
  text-decoration: none;
}

.navbar-container {
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: #3b5998; */
  background-color: #457b9d;
  /* background-color: #1d3557; */
}

.logo {
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
}

.links {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.1em;
}

.popover-trigger {
  color: #fff;
  cursor: pointer;
}

#popover-basic {
  min-width: 150px;
  width: fit-content;
  height: auto;
  background-color: #457b9d;
}

.user-options {
  min-height: 57px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.option-element {
  color: #fff;
  font-size: 1.1em;
  cursor: pointer;
}
