.offer-card {
  width: 90%;
  height: 470px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.offer-card-reverse {
  flex-direction: row-reverse;
}

.offer-card-reverse img {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.offer-card img {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.offer-card-img-container {
  width: 60%;
  min-height: 470px;
  overflow: hidden;
}

.offer-card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.offer-card-title-container {
  width: 90%;
  font-size: 2.1rem;
}

.offer-card-text {
  width: 90%;
  margin-top: 1.4rem;
  font-size: 1.1rem;
}

.offer-button-wrapper {
  width: 90%;
  margin-top: 1.8rem;
}
