.review-form-wrapper {
  padding-bottom: 2rem;
}

.review-modal-header {
  height: 50px;
  background-color: #457b9d;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.review-modal-header span {
  margin-right: 2rem;
}

.review-modal-header:hover {
  color: rgb(233, 233, 233);
}

.review-form {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 1.4rem;
}

.submit-rating {
  width: 100%;
  margin-top: 1rem;
}

.review-inputs {
  width: 100%;
  margin-top: 1rem;
}

.review-header-input {
  margin-bottom: 1.1rem;
}

.review-header-input input {
  font-size: 1.25rem;
  width: 35%;
  padding-left: 0.8rem;
}

.submit-review-wrapper {
  width: 100%;
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
}

.submit-review-wrapper button {
  border: none;
  background-color: #457b9d;
  color: #fff;
  cursor: pointer;
  padding: 0.7rem 1.1rem;
  border-radius: 5px;
  font-size: 1.1rem;
}

.review-error {
  margin-left: 1.2rem;
  font-size: 1.03rem;
  font-weight: 600;
  color: rgb(204, 49, 49);
}

.review-text-wrapper {
  width: 100%;
}

.review-text-wrapper textarea {
  width: 99%;
  height: 200px;
  resize: none;
  padding-left: 0.8rem;
  padding-top: 0.8rem;
  font-size: 1.15rem;
}

.deleteReview {
  margin-left: 20px;
}

@media (max-width: 420px) {
  .review-header-input input {
    width: 60%;
  }
}
