.review-card {
  width: 680px;
  margin-bottom: 2.5rem;
}

.review-user {
  font-size: 1.1rem;
}

.rating-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
}

.review-header {
  margin-left: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.review-date {
  font-size: 0.92rem;
  color: rgb(116, 116, 116);
  margin-bottom: 0.45rem;
}

.edit-review {
  background-color: #457b9d;
  color: #fff;
  border-radius: 4px;
  font-weight: 200;
  display: inline-block;
  width: 60px;
  text-align: center;
  margin-left: 0.5rem;
  cursor: pointer;
}

.edit-review:hover {
  background-color: #5092bb;
}

@media (max-width: 1000px) {
  .review-card {
    width: 96%;
  }
}
