.total-review {
  width: 42%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.total-review-summary {
  width: 40%;
  height: 90%;
}

.average-rating {
  font-size: 3em;
  font-weight: bold;
}

.number-reviews {
  margin-top: 0.09em;
  margin-bottom: 1.35em;
}

.total-review-breakdown {
  width: 50%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
