.review-item {
  width: 20%;
  padding: 2rem 10px;
  quotes: "\201c""\201d";
  margin-right: 2rem;
}

.review-item:before {
  color: #e0d5c5;
  content: open-quote;
  font-size: 16rem;
  line-height: 0.08rem;
  /* margin-right: 0.25rem; */
  vertical-align: -0.3rem;
  position: relative;
  top: 68px;
  right: 60px;
  z-index: 0;
}

.review-item-text {
  width: 90%;
  font-size: 1.6rem;
  margin-bottom: 1.1rem;
  position: relative;
}

.author {
  font-size: 1.4rem;
}

.author span {
  color: #cca468;
}
