.tours-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
}

.tours-header {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.tour-card-container {
  width: 88%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 4rem;
}
