.tour-details {
  display: flex;
  flex-direction: column;
}

.tour-description {
  margin-top: 3em;
  margin-bottom: 5em;
}

.tour-map {
  width: 58%;
  margin-top: 8em;
  margin-bottom: 3em;
  padding-left: 5em;
}

.tour-map h2 {
  font-size: 2.2em;
  font-weight: 700;
  margin-bottom: 0.875em;
}

.itinerary {
  padding-left: 5em;
  margin-top: 5em;
}

.itinerary-description-wrapper {
  width: 55%;
  margin-top: 1em;
  margin-bottom: 2.2em;
}

.itinerary-accordion {
  width: 50%;
}

.itinerary-header {
  font-weight: 700;
}

.reviews {
  margin-bottom: 5em;
}
