.review-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 8em;
  padding-left: 5em;
}

.review-container-header {
  margin-bottom: 3em;
}

.review-cards {
  width: 78%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.review-summary {
  margin-bottom: 3em;
}
