.tour-card {
  height: 550px;
  /* width: 450px; */
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

.tour-card-image {
  width: 100%;
  height: 50%;
}

.tour-card img {
  width: 100%;
  height: 100%;
}

.tour-card-text {
  width: 94%;
  height: 15%;
  display: flex;
  flex-direction: column;
}

.tour-card-name {
  text-align: center;
  height: 70%;
}

.tour-card-location {
  font-size: 1.15em;
}

.tour-card-price {
  height: 8%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 3em;
}

.tour-card-footer {
  width: 90%;
  height: 10%;
  margin-top: 2em;
}

.tour-card-footer hr {
  margin-bottom: 1em;
}

.tour-card-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.flag-icon {
  color: grey;
  font-size: 1.8em;
}
