.tour-details {
  display: flex;
  flex-direction: column;
}

.tour-description {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.tour-map {
  width: 58%;
  margin-top: 8rem;
  margin-bottom: 3rem;
  padding-left: 5rem;
}

.tour-map h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.875rem;
}

.itinerary {
  padding-left: 5rem;
  margin-top: 5rem;
}

.itinerary-description-wrapper {
  width: 55%;
  margin-top: 1rem;
  margin-bottom: 2.2rem;
}

.itinerary-accordion {
  width: 50%;
}

.itinerary-header {
  font-weight: 700;
}

.reviews {
  margin-bottom: 5rem;
}

.tour-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tour-images {
  width: 60%;
}

.tour-images img {
  max-height: 500px;
}

@media (max-width: 1000px) {
  .tour-map {
    width: 90%;
    padding-left: 2rem;
  }

  .tour-map h2 {
    text-align: center;
  }

  .itinerary {
    padding-left: 2rem;
  }

  .itinerary h2 {
    text-align: center;
  }

  .itinerary-description-wrapper {
    width: 90%;
  }

  .itinerary-accordion {
    width: 90%;
  }
}
