.tour-card {
  width: 350px;
  border: 1px solid rgb(194, 194, 194);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-bottom: 0.6rem;
}

.tour-card-image {
  width: 100%;
  height: 310px;
  overflow: hidden;
}

.tour-card img {
  width: 100%;
  height: 100%;
}

.tour-card-text {
  width: 90%;
  height: 148px;
  display: flex;
  flex-direction: column;
  margin-top: 0.85rem;
  margin-bottom: 2rem;
}

.tour-card-name {
  text-align: center;
  height: 70%;
}

.tour-card-name h2 {
  font-size: 1.6rem;
}

.tour-card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 1.1rem;
}

.tour-card-footer {
  width: 90%;
  height: 70px;
  padding-bottom: 1rem;
}

.tour-card-footer hr {
  margin-bottom: 1rem;
}

.tour-card-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flag-icon,
.heart-icon {
  color: #457b9d;
  font-size: 1.8rem;
  cursor: pointer;
}

.heart-icon {
  color: rgb(243, 60, 60);
}
