.review-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  padding-left: 5rem;
}

.review-container-header {
  margin-bottom: 3rem;
}

.review-cards {
  width: 78%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.review-summary {
  margin-bottom: 3rem;
}

.pagination-container {
  width: 30%;
  height: 55px;
  display: flex;
  align-items: center;
  text-align: center;
}

.pagination-container li {
  list-style-type: none;
}

.pagination-page {
  display: inline-block;
  margin-right: 0.9rem;
}

.pagination-link {
  position: relative;
  display: block;
  padding: 0.375rem 0.75rem;
  color: #457b9d;
  font-weight: 800;
}

.pagination-link:hover {
  color: #37637e;
}

.active-page:focus {
  outline: none;
}

.active-page-link {
  /* background-color: #fff; */
  background-color: rgb(231, 231, 231);
  color: #37637e;
  outline: none;
}

.previous,
.next {
  display: inline-block;
}

.previous {
  margin-left: 5rem;
  margin-right: 1.5rem;
}

.next {
  margin-left: 1.5rem;
}

.previous-link,
.next-link {
  color: #457b9d;
  font-size: 1.6rem;
}

.previous-link:hover,
.next-link:hover {
  color: #37637e;
}

.pagination-break {
  color: #457b9d;
  font-size: 1.5rem;
}

@media (max-width: 1000px) {
  .review-container-header {
    text-align: center;
  }

  .review-cards {
    width: 90%;
  }
}
